<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div *ngIf="!(loggedInObservable|async)">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="auth-form">
    <p *ngIf='error' style="color:red">Email or Password miss match. Please Try again.</p>
    <div class="form-group">
      <label [attr.for]="'email'" class="auth-form-label">EMAIL</label>
      <input type="email" class="form-control auth-form-input" formControlName="email" [id]="'email'" placeholder="johndoe@gmail.com">
    </div>
    <div class="form-group">
      <label [attr.for]="'password'" class="auth-form-label">PASSWORD</label>
      <input type="password" class="form-control auth-form-input" formControlName="password" [id]="'password'"
        placeholder="&#10033; &#10033; &#10033; &#10033; &#10033;">
    </div>
    <button type="submit" class="btn btn-block auth-form-submit-btn" [disabled]="!signinForm.valid">LOG IN</button>
  </form>
</div>

<div *ngIf="(loggedInObservable|async)">
  <button class="btn btn-success" (click)="logout()">log out</button>
  <button class="btn btn-success" (click)="profile()">get profile</button>
</div>
<div>
  <button class="btn btn-success" (click)="personalities()">get personalities</button>
</div>

<router-outlet></router-outlet>
